doctype html
html(ng-app="Frambler")
    head
        title= title
        link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='/build/css/main.css')

    body
        block content

        script(src="/bower_components/angular/angular.min.js")
        script(src="/bower_components/angular-route/angular-route.min.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-aria/angular-aria.min.js")
        script(src="/bower_components/angular-material/angular-material.min.js")
        script(src="/js/main.js")