extends layouts/default

block content

    md-sidenav.site-sidenav
        ul
            li Test
            li Test
            li Test
    div(layout="column" flex)
        md-toolbar
            h3 Hello
        md-content(md-scroll-y flex)

