extends layouts/default

block content
    .box.center-block(ng-controller="UserAuthCtrl")
        h3 Login please
        form(ng-submit="UserLogin()")
            md-input-container
                label Username
                input(ng-model="user.name")
            md-input-container
                label Password
                input(ng-model="user.password", type="password")

            md-button.md-raised.md-primary Log in
